.main-footer-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.label-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.label-text1 {
  color: rgba(24, 24, 24, 0.5);
}

.label-text2 {
  color: rgb(38, 81, 5, 0.5);
}
