.wrapper-phone-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.phone-prop {
  position: absolute;
  color: rgba(24, 24, 24, 0.7);
  left: 14px;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
}

.line-prop {
  position: absolute;
  stroke-width: 0.1;
  left: 35px;
}
