.overview {
  display: flex;
  /* flex-direction: column; */
}

.content {
  width: 100%;
}

.welcome {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 4%;
}

.head-text {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 4%;
}

.right-text {
  display: flex;
}
.overview-body {
  display: flex;
}
