.container {
  height: 54px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  height: 100%;
}

.title {
  color: var(--neutral-60);
  font-family: Mulish;
  font-size: 16px;
  line-height: 24px;
}

.text {
  color: var(--neutral-70);
  font-family: Mulish;
  font-size: 16px;
  line-height: 24px;
}
