.container {
  max-width: 100%;
  height: 86px;
  border-radius: 8px;
  background-color: var(--primary-10);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper {
  background-color: transparent;
  margin: 16px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  width: 100%;
  place-items: center;
}

.sub-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.dot_wrapper {
  display: grid;
  place-items: center;
}
.dot {
  width: 13px;
  height: 13px;
  background-color: #e67b75;
  border-radius: 50%;
}

/* SNIPET */

.snipet__container {
  height: 54px;
}

.snipet__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  height: 100%;
}

.snipet__title {
  color: var(--neutral-60);
  font-family: Mulish;
  font-size: 16px;
  line-height: 24px;
}

.snipet__text {
  color: var(--neutral-70);
  font-family: Mulish;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1100px) {
  .container {
    height: fit-content;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
}
@media (max-width: 480px) {
  .container,
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding-left: 10px;
  }

  .sub-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    height: fit-content;
    width: 90%;
  }
  .name {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
}

@media (max-width: 360px) {
  .container,
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }

  .sub-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    height: fit-content;
  }

  .name {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
}
