:root {
  --background-color: #e5e5e5;
  --text-highlight: #025002;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: green;
  width: 15rem;
  height: 200vh;
  background: var(--background-color);
  position: fixed;
}

p {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  font-size: 1.3rem;
  margin-bottom: 28.5;

  /* font-family: Circu; */
}

.logout {
  margin-left: 1.5rem;
  margin-top: 12rem;
}

img {
  margin-left: 1rem;
  margin-right: 1rem;
}

.helpAndSupport {
  margin-left: 1.5rem;
  color: var(--text-highlight);
}

hr {
  margin-top: 1rem;
}
