.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dot-info {
  margin-left: 3%;
  margin-top: 3%;
}

.pickup-container {
  margin-top: 20px;
  display: flex;
  max-width: 100%;
  height: 86px;
  justify-content: space-between;
  background-color: #edfeed;
  border-radius: 8px;
  margin-left: 21.5%;
  margin-right: 7.5%;
  text-align: center;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color {
  color: black;
  font-weight: bolder;
}
