.dash-navbar {
  height: 75px;
  background-color: #04a405;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.name-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #fef7ec;
  border-radius: 50%;
}
.name-holder {
  display: flex;
  min-width: 200px;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.name-holder p {
  color: white;
}

.h-space {
  width: 15px;
  display: inline-block;
}
