:root {
  /*COLORS*/
  --white: #ffffff;
  /*primary*/
  --primary-main: #04a405;
  --primary-10: #ebfeeb;
  --primary-80: #025002;

  /*neutral*/
  --neutral-60: #18181899;
  --neutral-70: #181818b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
