.nav-header {
  background: var(--primary-40);
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 160px auto;
}

.nav-content {
  display: flex;
  justify-content: center;
  background: rgba(235, 254, 235, 0.4);
  /* background: var(--primary-10); */
  border-radius: 4px;
  width: 600px;
  margin: 20px auto;
}

.nav-content h1 {
  text-align: center;
}

.wrapper-container {
  min-height: 300px;
  padding: 2rem;
  width: 90%;
}
.wrapper-container button {
  cursor: pointer;
}
.wrapper--email,
.wrapper--label--email,
.wrapper--input--email,
.wrapper--text,
.signin-main-footer-text {
  margin: 1.5rem auto;
}

.form-input:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .nav-content {
    width: 100%;
  }

  .button-base {
    padding: 1rem !important;
  }

  .lg {
    width: 100% !important;
  }
}
