.RadioButton-body {
  padding: 15px;
  display: flex;
  align-items: center;
  color: #666;
}

.RadioButton-body input[type='radio'] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-main);
  display: inline-block;
  margin-right: 1rem;
}
